*,
body,
a,
p,
h1,
h2,
h3,
span,
ul,
li {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    min-width: 100vh;
}
html,
body {
    height: 100%;
}
a {
    text-decoration: none;
}
.wrp {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}
.content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.content_wrp {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 15px;
}
.page_title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.header {
    top: 0;
    right: 0;
    left: 0;
    padding-top: 20px;
    background-color: #2a323d;
    min-height: 170px;
    z-index: 5;
}
.header_container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 20px 0;
}
.header_user {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.header_user_link {
    height: 40px;
    padding: 5px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #999999;
    border-radius: 5px;
    text-decoration: none;
}
.header_user_link:nth-last-child(n+2) {
    margin-right: 20px;
}
.header_user_link:hover {
    background-color: #e5e5e5;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
}
.catalog_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.catalog_list::after {
    content: "";
    width: 250px;
}
.catalog_item_wrp {
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d8d7d78c;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0px 4px 15px rgba(77, 77, 78, 0.23);
    box-shadow: 0px 4px 15px rgba(77, 77, 78, 0.23);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.catalog_item_title {
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 12px;
}
.catalog_item_link {
    width: 100%;
}
.catalog_item_link:hover {
    opacity: 70%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.catalog_item_img {
    width: 100%;
}
.catalog_item_price {
    color: #E31E24;
    font-weight: bold;
    text-align: right;
}
.catalog_item_article {
    color: #7a7a7a;
    font-size: 12px;
}
.catalog_item_buy {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.catalog_item_buy_link {
    padding: 5px 10px;
    background-color: #E31E24;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.catalog_item_buy_link:hover {
    opacity: 70%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.after {
    width: 250px;
}
.good {
    padding: 30px 0;
}
.good_param {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.good_img {
    width: 100%;
}
.good_img_wrp {
    width: 770px;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.good_img_wrp p {
    color: #7a7a7a;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
}
.good_title {
    font-size: 24px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.good_article {
    color: #7a7a7a;
    font-size: 12px;
}
.good_article span {
    text-transform: uppercase;
    color: #7a7a7a;
    text-decoration: underline;
}
.good_price {
    margin-top: 20px;
    color: #f00;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}
.good_desc {
    margin-top: 40px;
}
.good_desc_wrp {
    width: 33%;
    padding: 0 15px;
}
.good_desc_item td:first-child {
    text-transform: uppercase;
    padding-right: 30px;
    color: #7a7a7a;
    font-weight: 700;
    line-height: 1.9;
}
.good_desc_item td:last-child {
    color: #7a7a7a;
    font-weight: 300;
    line-height: 1.9;
}
.good_size {
    padding-left: 2px;
    margin-top: 20px;
}
.good_size_title {
    text-transform: uppercase;
    color: #7a7a7a;
    font-weight: 700;
    line-height: 1.9;
}
.good_size_text {
    text-align: center;
    color: #7a7a7a;
    font-weight: 700;
    line-height: 1.5;
}
.good_details {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.good_details_wrp {
    width: 100%;
    margin: 0 15px;
}
.good_details_list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(164, 164, 164, 0.5);
}
.good_details_btn {
    padding: 30px 0 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #7a7a7a;
    cursor: pointer;
}
.good_details_btn:nth-last-child(n+2) {
    margin-right: 30px;
}
.good_details_btn.active_btn {
    border-bottom: 3px solid #e31e24;
}
.good_details_item {
    display: none;
    padding: 30px 0;
}
.good_details_item strong {
    display: block;
    color: #7a7a7a;
}
.good_details_item strong:nth-child(n+2) {
    display: block;
    margin-top: 20px;
}
.good_details_item p {
    color: #7a7a7a;
}
.good_details_item a {
    display: block;
    color: blue;
    text-decoration: underline;
    font-style: oblique;
}
.user_account_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.user_account_logout {
    text-decoration: underline;
}
.user_account_logout:hover {
    color: red;
}
.user_account_sections {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.user_account_sections_wrp {
    width: 100%;
}
.user_account_sections_list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(164, 164, 164, 0.5);
}
.user_account_sections_btn {
    padding: 30px 0 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #7a7a7a;
    cursor: pointer;
}
.user_account_sections_btn:nth-last-child(n+2) {
    margin-right: 30px;
}
.user_account_sections_btn.active_btn {
    border-bottom: 3px solid #e31e24;
}
.user_account_sections_item {
    display: none;
    padding: 30px 0;
}
.user_account_sections_item strong {
    display: block;
    color: #7a7a7a;
}
.user_account_sections_item strong:nth-child(n+2) {
    display: block;
    margin-top: 20px;
}
.user_account_sections_item p {
    color: #7a7a7a;
}
.user_account_edit_block {
    display: none;
    margin: 20px 0;
}
.user_account_edit_block_img {
    height: 150px;
    margin-top: 20px;
}
.user_account_edit_block_img img {
    height: 100%;
    margin-left: 120px;
}
.user_account_edit_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.user_account_edit_good_btn {
    display: block;
    margin: 20px 20px 0 120px;
    padding: 19px 30px;
    background-color: #E31E24;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}
.user_account_edit_good_btn:hover {
    background-color: #43d651;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.user_account_edit_back_link {
    display: block;
    margin: 20px 20px 0 20px;
    padding: 20px;
    text-transform: uppercase;
    border: 1px solid #7A7A7A;
    text-align: center;
    font-weight: bold;
    color: #7A7A7A;
    cursor: pointer;
}
.user_account_edit_back_link:hover {
    background-color: #43D651;
    border: 1px #43D651 solid;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.user_account_add_good {
    padding: 20px 0;
}
.user_account_add_good_select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.user_account_add_good_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.user_account_add_good_title {
    width: 400px;
    margin: 10px 10px;
    text-align: right;
}
.user_account_add_good_description {
    width: 100%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.user_account_add_good_description label {
    display: block;
    width: 120px;
    text-align: right;
    padding-right: 4px;
}
.user_account_add_good_description_text {
    width: 85%;
    min-height: 200px;
    padding: 11px;
    color: #231815;
    border: 1px solid #c0c0c0;
    resize: vertical;
}
.user_account_add_good_description_text:active {
    outline: none;
}
.user_account_add_good_description_text:focus {
    outline: none;
}
.user_account_add_good_article {
    text-align: center;
    margin-bottom: 10px;
}
.user_account_add_good_price {
    width: 100%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.user_account_add_good_price label {
    display: block;
    width: 120px;
    text-align: right;
    padding-right: 4px;
}
.user_account_add_good_img {
    width: 100%;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.user_account_add_good_img label {
    display: block;
    width: 120px;
    text-align: right;
    padding-right: 4px;
}
.user_account_add_good_text {
    width: 300px;
    padding: 11px;
    cursor: text;
    color: #231815;
    border: 1px solid #c0c0c0;
}
.user_account_add_good_text:active {
    outline: none;
}
.user_account_add_good_text:focus {
    outline: none;
}
.user_account_add_good_form {
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.user_account_add_good_form select {
    width: 300px;
    padding: 10px;
    cursor: pointer;
    color: #231815;
    border: 1px solid #c0c0c0;
}
.user_account_add_good_form select:active {
    border: 1px solid #c0c0c0;
    outline: none;
}
.user_account_add_good_form select:focus {
    border: 1px solid #c0c0c0;
    outline: none;
}
.user_account_add_good_btn {
    display: block;
    margin: 20px auto 0 120px;
    padding: 19px 30px;
    background-color: #E31E24;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}
.user_account_add_good_btn:hover {
    background-color: #43d651;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.user_orders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.user_orders_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.user_orders_info {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #E5E5E5;
}
.user_orders_info p {
    width: 25%;
}
.user_orders_good {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.user_orders_good:nth-last-child(n+2) {
    margin-bottom: 15px;
}
.user_orders_good_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px;
}
.user_orders_good_img {
    width: 130px;
}
.user_orders_good div {
    width: 50%;
    margin: 0 auto 0 15px;
}
.user_orders_good div p {
    text-transform: capitalize;
    line-height: 1.7;
}
.user_orders_good_price {
    width: 20%;
    margin-left: 15px;
    line-height: 1.7;
}
.user_orders_good_quantity {
    width: 20%;
    margin-left: 15px;
    line-height: 1.7;
}
.user_orders_btn_cansel {
    color: #E31E24;
    cursor: pointer;
}
.user_orders_btn_cansel:hover {
    opacity: 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.user_orders_btn_processed {
    margin-left: 15px;
    color: #E31E24;
    cursor: pointer;
}
.user_orders_btn_processed:hover {
    opacity: 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
cart_table {
    width: 100%;
    border-collapse: collapse;
}
.cart_table_title {
    border-bottom: 1px solid #A9B5BF;
}
.cart_table_title th {
    color: #7a7a7a;
    padding-bottom: 10px;
    text-align: left;
}
.cart_table_item {
    padding: 33px 0;
    border-bottom: 1px solid #E5E5E5;
}
.cart_table_item td {
    color: #7a7a7a;
    font-weight: 300;
}
.cart_table_item_img {
    width: 160px;
    margin: 33px 0;
}
.cart_table_item_info {
    text-transform: capitalize;
    line-height: 1.7;
}
.cart_table_item_articul {
    font-size: 10px;
}
.cart_table_item_delete_link {
    display: block;
    color: #E31E24;
    font-weight: normal;
    text-align: right;
}
.cart_sum {
    padding: 33px 0;
    border-bottom: 1px solid #a9b5bf;
    border-top: 1px solid #a9b5bf;
}
.cart_sum p {
    text-align: right;
}
.cart_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 45px 0;
}
.cart_catalog_link {
    width: 270px;
    padding: 20px;
    text-transform: uppercase;
    border: 1px solid #7A7A7A;
    text-align: center;
    font-weight: bold;
    color: #7A7A7A;
}
.cart_catalog_link:hover {
    background-color: #43D651;
    border: 1px #43D651 solid;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.cart_clear_btn {
    width: 270px;
    padding: 20px;
    text-transform: uppercase;
    background-color: #EBEBEB;
    border: 1px #EBEBEB solid;
    text-align: center;
    font-weight: bold;
    color: #7A7A7A;
}
.cart_clear_btn:hover {
    background-color: #000;
    border: 1px #000 solid;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.cart_login {
    padding: 20px 0 20px 20px;
    text-align: right;
}
.cart_order_link {
    width: 270px;
    padding: 20px;
    text-transform: uppercase;
    background-color: #E31E24;
    border: 1px #E31E24 solid;
    text-align: center;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.cart_order_link:hover {
    background-color: #43D651;
    border: 1px #43D651 solid;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}