
<div class="content_wrp">
    <div class="good">
        <div class="good_param">
            <div class="good_img_wrp">
                <img class="good_img" src="assets/img/catalog/{{ good.img }}" alt="good_img">
                <p>на сайте представлены фотографии реальных товаров</p>
            </div>

            <div class="good_desc_wrp">
                <h2 class="good_title">{{ good.category }}&nbsp;{{ good.brand }}&nbsp;{{ good.model }}</h2>
                <p class="good_article">Артикул:&nbsp; {{ good.id }} /
                    <a class="brands_link" href="index.php?class=page&method=catalog&brand={{ good.brand }}"><span>{{ good.brand }}</span></a></p>
                <p class="good_price">{{ good.price }} руб.</p>
                <table class="good_desc">
                    <tr class="good_desc_item">
                        <td>Материал верха</td>
                        <td>{{ good.material }}</td>
                    </tr>
                    <tr class="good_desc_item">
                        <td>Модель</td>
                        <td>{{ good.model }}</td>
                    </tr>
                    <tr class="good_desc_item">
                        <td>Сезон</td>
                        <td>{{ good.season }}</td>
                    </tr>
                    <tr class="good_desc_item">
                        <td>Цвет</td>
                        <td>{{ good.color }}</td>
                    </tr>
                </table>

                <div class="good_size">
                    <p class="good_size_title">Размер</p>
                    <form id="size_form" action="javascript:void(null);" method="POST" onsubmit="addGood({{ good.id }})">
                        <div class="size_wrp">
                            <input id="size_36" name="size" type="radio" value="36" onchange="document.getElementById('add_cart').disabled = !this.checked;" >
                            <label for="size_36">36</label>
                        </div>
                        <div class="size_wrp">
                            <input id="size_37" name="size" type="radio" value="37" onchange="document.getElementById('add_cart').disabled = !this.checked;" >
                            <label for="size_37">37</label>
                        </div>
                        <div class="size_wrp">
                            <input id="size_38" name="size" type="radio" value="38" onchange="document.getElementById('add_cart').disabled = !this.checked;" >
                            <label for="size_38">38</label>
                        </div>
                        <div class="size_wrp">
                            <input id="size_39" name="size" type="radio" value="39" onchange="document.getElementById('add_cart').disabled = !this.checked;" >
                            <label for="size_39">39</label>
                        </div>
                        <div class="size_wrp">
                            <input id="size_40" name="size" type="radio" value="40" onchange="document.getElementById('add_cart').disabled = !this.checked;" >
                            <label for="size_40">40</label>
                        </div>
                        <div class="size_wrp">
                            <input id="size_41" name="size" type="radio" value="41" onchange="document.getElementById('add_cart').disabled = !this.checked;" >
                            <label for="size_41">41</label>
                        </div>


                        <input id="add_cart" type="submit" value="Добавить в корзину" disabled>
                        <div class="error_wrp"><p class="error">Выберите размер!</p></div>
                    </form>
                </div>

            </div>
        </div>

        <div class="good_details">
            <div class="good_details_wrp">
                <div id="tab-1" class="good_details_item tab_item" style="display: block;">
                    {{ good.description }}
                </div>
            </div>
        </div>
    </div>


</div>

