<header id="header" class="header">
    <div class="header_container">
        <div class="header_top">

            <a class="header_user_link" href="index.php?class=page&method=index">Главная</a>
            <a class="header_user_link" href="index.php?class=page&method=catalog">Каталог</a>

            <div class="header_user">
                {% if user == true %}
                    <a class="header_user_link" href="index.php?class=user&method=account">Личный кабинет |&nbsp;{{ user }}</a>
                {% endif %}
                {% if user == false %}
                    <a class="header_user_link" href="index.php?class=user&method=login">Вход</a>
                    <a class="header_user_link" href="index.php?class=user&method=reg">Регистрация</a>
                {% endif %}

                <a class="header_user_link" href="index.php?class=cart&method=cart">
                    Корзина
                </a>
            </div>
        </div>
    </div>
</header>