<div class="main">

    <div class="main_shop_info">

        <p> Тем, кто занимается спортом или просто хочет выглядеть стильно и современно, наш интернет-магазин
             предлагает европейское качество и приятные цены. В онлайн-каталоге
            представлены интересные модели модных расцветок и фасонов, способные удовлетворить запросы любого
            современного человека.</p>

        <p> Мы не только предлагаем купить качественную спортивную обувь, но и:
        <ul>
            <li>делаем спорт доступным каждому;</li>
            <li>предоставляем возможность выбрать фирменные вещи, не выходя из дома;</li>
            <li>показываем, что магазин спортивной обуви – это удобно и выгодно;</li>
            <li>гарантируем своевременную доставку товара в любой из уголков России;</li>
            <li>проводим регулярные акции и скидки на сайте.</li>
        </ul>
        </p>

        <p> Сайт магазина спортивной обуви реализует оригинальные коллекции женской и мужской экипировки различных
            брендов, среди которых: Adidas, Nike и прочие «гладиаторы» мировой арены.</p>

        <p> Для того чтобы купить спортивную обувь недорого достаточно выбрать нужный товар, добавить
            его в корзину, а также заполнить онлайн-заявку. Если желаете уточнить размер или особенности выбранной модели,
            всегда можете рассчитывать на помощь наших консультантов.</p>

    </div>
</div>